CONFIG_PROJECT_VERSION="0.1.0"
CONFIG_PROJECT_NAME="waferlog"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_BOARD=y
CONFIG_TUYA_T5AI_BOARD_LCD_35565=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_ENABLE_LVGL_TP=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_ENABLE_EXT_RAM=y
CONFIG_ENABLE_AUDIO_CODECS=y
CONFIG_AUDIO_CODEC_NAME="audio_codec"
CONFIG_BUTTON_NAME="waferlog_button"
CONFIG_ENABLE_AUDIO_AEC=y
